* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-light-gray: hsl(203, 44%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);
  --color-main: hsl(179, 62%, 43%);
  --color-second: hsl(71, 73%, 54%);
  --padding: 40px;
  --margin-lines: 20px;
}

body {
  font: 16px "karla", sans-serif;
  background-color: var(--color-light-gray);
}

/* start section 1 */
h1 {
  color: var(--color-main);
  font-size: 24px;
  margin-bottom: var(--margin-lines);
}

.head {
  background-color: white;
  padding: var(--padding, 30px);
}

.head h2 {
  color: var(--color-second);
  font-size: 18px;
  margin-bottom: var(--margin-lines);
}

.head p {
  color: var(--color-grayish-blue);
  max-width: 550px;
  line-height: 1.8em;
}
/* End section 1 */
/* start section 2 */
div:nth-child(2) {
  color: white;
  background-color: var(--color-main);
  padding: var(--padding, 30px);
}

div:nth-child(2) h2 {
  font-size: 20px;
  margin-bottom: var(--margin-lines);
}

span {
  font-size: 36px;
  font-weight: 700;
  margin-right: 15px;
}

div:nth-child(2) p {
    line-height: 1.8em;
}

div:nth-child(2) p:nth-of-type(2) {
  font-size: 18px;
}

button {
  color: inherit;
  background-color: var(--color-second);
  width: 270px;
  max-width: 90%;
  height: 50px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 40px;
}
/* End section 2 */
/* start section 3 */
div:nth-child(3) {
  color: white;
  background-color: #4abebd;
  padding: var(--padding, 30px);
}

div:nth-child(3) h2 {
  font-size: 20px;
  margin-bottom: var(--margin-lines);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  line-height: 1.6em;
}
/* End section 3 */

main {
  width: 86%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .head {
    grid-column: span 2;
  }

  .attribution {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
    :root {
        --padding: 25px;
    }
    main {
        margin: 40px auto;
    }
}
